/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.done {
  float: left;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

button.done {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  margin-right: .5rem;
}

.low {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.normal {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.high {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}


.critical {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}