{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}
    <form method="post" class="form-inline" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Create task</button>
    </form><br>
    {% if tasks|length > 0 %}
    {% for task in tasks %}

        {% if task.value.status != 'deleted' %}

            <div id="{{ task.id }}" class="alert {{ task.value.priority }}" role="alert">

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="button" class="done" data-task-id="{{ task.id }}" aria-label="Done">
                    <span aria-hidden="true">&#10003;</span>
                </button>

                {% if task.value.status == 'active' %}
                    {{ task.value.description }}
                {% elif task.value.status == 'completed' %}
                    <s>{{ task.value.description }}</s>
                {% endif %}
            </div>

        {% endif %}

    {% endfor %}
    {% else %}
        <div class="alert">Sorry. No tasks todo....</div>
    {% endif %}
{% endblock %}
