{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block items_left %}{{ items_left }}{% endblock %}

{% block content %}
    <form method="post" class="" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row d-flex justify-content-around">
            <button type="submit" class="col-5 btn btn-success">Create task</button>
            <button type="button" class="col-5 btn btn-outline-danger"
                    {% if items_completed|length == 0 %}
                        disabled
                    {% endif %}
                    data-toggle="modal" data-target="#сlearModal">
                Clear completed
            </button>
        </div>
    </form><br>
    {% for task in tasks %}

        {% if task.value.status != 'closed' %}

            <div id="{{ task.id }}" class="alert {{ task.value.priority }}" role="alert">

                <button type="button" class="close" data-task-id="{{ task.id }}" data-status="closed" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <button type="button" class="done" data-task-id="{{ task.id }}" data-status="{{ task.value.status }}" aria-label="Done">
                <span aria-hidden="true">
                    {% if task.value.status == 'active' %}
                        &#10003;
                    {% else %}
                        +
                    {% endif %}
                </span>
                </button>

                {% if task.value.status == 'active' %}
                    {{ task.value.description }}
                {% elif task.value.status == 'completed' %}
                    <s>{{ task.value.description }}</s>
                {% endif %}
            </div>

        {% endif %}
    {% empty %}
        <div class="alert">Sorry. No tasks todo....</div>
    {% endfor %}

{% endblock %}
