{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block items_left %}{{ items_left }}{% endblock %}

{% block content %}

    {% for task_id, task in tasks.items %}

        <div id="{{ task_id }}" class="alert {{ task.priority }}" role="alert">

            <button type="button" class="close" data-task-id="{{ task_id }}" data-status="closed" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <button type="button" class="done" data-task-id="{{ task_id }}" data-status="{{ task.status }}" aria-label="Done">
                <span aria-hidden="true">
                    {% if task.status == 'active' %}
                        &#10003;
                    {% else %}
                        +
                    {% endif %}
                </span>
            </button>

            {% if task.status == 'active' %}
                {{ task.description }}
            {% elif task.status == 'completed' %}
                <s>{{ task.description }}</s>
            {% elif task.status == 'closed' %}
                {{ task.description }}
            {% endif %}
        </div>

    {% empty %}
        <div class="alert">Sorry. No tasks todo....</div>
    {% endfor %}

{% endblock %}
